.link{
cursor: pointer;
}
.listaMaq{
    width:340px;
    color: #402020;
    background-color: #eeddcc;
    padding: 24px 10px 24px 50px;
    border: #402020 solid 2px;
    
    list-style: upper-roman;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    
}



